body {
	background-color: lightcyan;
	color: #40514E;
	
	
}
h1 {
	position: relative;
	text-align: center;
	font-family: cursive;
	color: deepskyblue;
	font-size:2rem;
	font-weight: normal;
}
h2 {
	position: relative;
	top: 3px;
	color: blueviolet;
	text-align: center;
	font-weight:bolder ;
}

.mountain {
	width: 500px;
	height: 300px;
	position: relative;
	top: 100px;
	left: 500px;
}


.topcloud {
	position: absolute;
	left: 1000px;

}
.bottomcloud {
	position: relative;
	top: 300px;
	left: 100px;
}
.AK {
	position: absolute;
	width: 130px;
	height: 150px;
    margin-left: 700px;
    top: 820px;
}
.hello {
	position: relative;
	top: 250px;
	color: dodgerblue;
	margin-left: 90px;
}
.skills {
	position: relative;
	top: 400px;

}
.para {
	position: relative;
	top: 250px;
	margin-left: 550px;
}
.rule {
	position: relative;
	top: 100px;
	border: dotted;
	color: #EAF6F6;
	width: 5%;
	left: 50px;
}
.rule1 {
	position: relative;
	bottom: 150px;
	width: 5%;
	left: 50px;
	border: dotted #EAF6F6;
}
.skills {
	position: relative;
	bottom: 30px;

}
.web {  
	position:absolute;
	top:-35%;
    width: 300px;
    margin-left: 600px;


}
.sk {
	position: absolute;
	top: -55%;
	color: dodgerblue;
	left: 720px;
}
.D {
	position: absolute;
	top: 90px;
	left: 650px;
	color: blueviolet;
	
	
}
.w {
	position: relative;
	top: 130px;
	left: 400px;
	
}
.cooking {
	position: relative;
	top: 150px;
	left: 650px;
}
.coo {
	position: relative;
	color: blueviolet;
	top: 140px;
	left: 700px;

}
.co {
	position: absolute;
	bottom:-60%;
	left: 500px;
}
.rule2 {
	position: relative;
	top: 170px;
	width: 5%;
	border: dotted #EAF6F6;
}
.get {
	position: absolute;
	color: dodgerblue;
	top: 1650px;
	left: 660px;
}
.love {
	position: relative;
	color: blueviolet;
	top: 600px;
	left: 600px;
}
.taste {
	position: relative;
	top: 590px;
	left: 350px;
}
.btn {
	position: relative;
	top: 590px;
	left: 660px;
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#337bc4;
  font-weight:bold;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  box-shadow: 3px 4px 0px 0px #1564ad;
  text-shadow: 0px 1px 0px #528ecc;
  background:linear-gradient(#79bbff, #378de5);
}

.btn:hover {
  background: linear-gradient(#378de5, #79bbff);
}
.bottom-container {
	position: relative;
	top: 600px;
	background-color: #66BFBF;
	padding:10px 0 20px;

}
.l {
	position: relative;
	left: 660px;
	text-decoration: none;
	
}
.l:hover {
	color: #EAF6F6;

}
.g {
	position: relative;
	left: 680px;
	text-decoration: none;
}

.g:hover {
	position: relative;
	left: 680px;
	text-decoration: none;
	color: #EAF6F6;
}
