.huge {
	font-size: 8rem;
	font-weight: bold;
}
.paragraphClass {
            font-size: 30px;
            color: red;
        }
  
        #Button {
            margin-top: 15px;
        }